body{
  background: linear-gradient(to right,#f1c1cf,#afebfd) ;
}
.borders{
  border-right: none;
  border-left: none;
  border-top: none;
}
.note{
  background: #001b2e;
}
.card-header{
  background: #001b2e;
  color: white;
}